<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="userName" required/>
    <input type="password" placeholder="Password" name="password" required/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Welcome, {{name}}!
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br><br>


<a href="/">All</a>
<a href="/?genre=adventure">Adventure</a>
<a href="/?genre=rpg">RPG</a>
<a href="/?genre=strategy">Strategy</a>
<a href="/?genre=shooter">Exercise</a>

<br/><br/>

<form action="/searchByGameStat" method="get">
    <input type="text" placeholder="Search by GameStats" name="search"/>
    <button type="submit">Search</button>
</form>

<br/><br/>

<br/><br/>

<form action="/searchByName" method="get">
    <input type="text" placeholder="Search by Name" name="search"/>
    <button type="submit">Search</button>
</form>

<br/><br/>

<form action="/add-game" method="post">
    <input type="text" placeholder="Name" name="gameName"/>
    <select name="gameGenre">
        <option selected disabled>Genre</option>
        <option value="adventure">Adventure</option>
        <option value="rpg">RPG</option>
        <option value="strategy">Strategy</option>
        <option value="shooter">Exercise</option>
    </select>
    <select name="gamePlatform">
        <option selected disabled>Platform</option>
        <option value="pc">PC</option>
        <option value="ps4">PS4</option>
        <option value="xboxone">XBox One</option>
        <option value="wiiu">Wii U</option>
    </select>
    <input type="number" placeholder="Release Year" name="gameYear"/>

    <select name="gameStat">
        <option selected disabled>Game Stat</option>
        <option value="Boss">Boss</option>
        <option value="Decent">Decent</option>
        <option value="Eh">Eh</option>
        <option value="Newb">Newb</option>
    </select>

    <button type="submit">Add Game</button>
</form>

<ol>
    {{#games}}
    <li>{{name}} {{platform}} {{releaseYear}}
        {{#gameStat}}
            {{.}}
        {{/gameStat}}
        <a href="/delete?gameID={{id}}">remove</a></li>
    {{/games}}
</ol>
{{/user}}
</body>
</html>
